---
interface Props {
  name: string;
  url: string;
  icon: any;
}

const { url, name, icon: PropsIcon } = Astro.props;
---

<li>
  <PropsIcon />
  <a href={url} target="_blank" rel="noopener noreferrer">
    <p>
      {name}
    </p>
  </a>
</li>
<style>
  a {
    background-color: #2f17b815;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  li {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  p:hover {
    color: #17b890;
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
</style>
